<div [ngClass]="{
    'shift': true,
    'shift--novalid': (!shift.isValid && (shift.start || shift.end)),
    'shift--crossnovalid': (!shift.intersectionValid)
   }">
  <label>Start</label>
  <input
    size="1.6" maxlength="5"
    class="shift__input"
    (input)="onChange()"
    [(ngModel)]="start"
    [mask]="timeMask">
  <label>End</label>
  <input
    size="1.6" maxlength="5"
    class="shift__input"
    (input)="onChange()"
    [(ngModel)]="end"
    [mask]="timeMask">
  <label>Type</label>
  <select class="shift__input">
    <option>First</option>
  </select>
  <button class="shift__delete" (click)="deleteShift()">Delete</button>
</div>
