<div class="list">
  <app-header
    [numberOfCompleted]="store.numberOfCompleted"
    [list]="store.list"
    (addTodo)="addTodo($event)"
    (checkAll)="checkAll()"
  ></app-header>
  <app-todoitem
    *ngFor="let item of store.list | filter:store.chosenFilter"
    [item]="item"
    (deleteTodo)="deleteTodo(item)"
    (unlockTodo)="unlockTodo(item)"
    (rewriteTodo)="rewriteTodo(item)"
    (changeStatus)="changeStatus(item)"
  ></app-todoitem>
  <app-footer
    (changeFilter)="changeFilter($event)"
    [listLength]="store.list.length"
    [numberOfCompleted]="store.numberOfCompleted"
    (clearCompleted)="clearCompleted()"
  ></app-footer>
</div>
