<div class="list">
  <app-header
    [list]="(list$ | async).todoList"
    (addTodo)="addTodo($event)"
    (checkAll)="checkAll()"
  ></app-header>
  <app-todoitem
    *ngFor="let item of (list$ | async).todoList | filter:(filter$ | async).chosenFilter"
    [item]="item"
    (deleteTodo)="deleteTodo(item)"
    (unlockTodo)="unlockTodo(item)"
    (rewriteTodo)="rewriteTodo(item)"
    (changeStatus)="changeStatus(item)"
  ></app-todoitem>
  <app-footer
    (changeFilter)="changeFilter($event)"
    [list]="(list$ | async).todoList"
    (clearCompleted)="clearCompleted()"
  ></app-footer>
</div>
