<div class="list">
  <div class="header">
    <button
      class="header__checkbutton"
      [ngClass]="{'header__checkbutton--hidden': !store.list.length, 'header__checkbutton--completed': (store.list.length === store.numberOfCompleted)}"
      (click)="checkAll()">&#9660;</button>
    <input
      [(ngModel)]="inputValue"
      class="header__input"
      (keydown.enter)="addTodo()">
  </div>
  <app-todoitem
    *ngFor="let item of store.list | filter:store.chosenFilter"
    [item]="item"
    [deleteTodo]="deleteTodo"
    [unlockTodo]="unlockTodo"
    [rewriteTodo]="rewriteTodo"
    [changeStatus]="changeStatus"
  ></app-todoitem>
  <app-footer
    [changeFilter]="changeFilter"
    [clearCompleted]="clearCompleted"
    [listLength]="store.list.length"
    [numberOfCompleted]="store.numberOfCompleted"
    [chosenFilter]="chosenFilter"
  ></app-footer>
</div>
