<div [ngClass]="{'hoverage': editMode$ | async}"></div>
<div class="page">
  <div class="main">
    <app-user-card [store]="user$ | async" [size]="'big'"></app-user-card>
    <div class="control">
      <button class="control__open" (click)="changeMode()">Open</button>
    </div>
  </div>
  <div
    class="shift-list"
    *ngFor="let item of (user$ | async).shiftList">
    <div>{{item.start}}</div>
    <div>&nbsp;-&nbsp;</div>
    <div>{{item.end}}</div>
  </div>
  <app-edit-form
    *ngIf="editMode$ | async"
  ></app-edit-form>
</div>



