.header {
    display: flex;
    justify-content: center;
}

.logo {
    cursor: pointer;
    background: url(/src/svg/racoon-positive.svg) no-repeat;
    font-family: 'Trend-Sans-One', sans-serif;

    &--header {
        position: relative;
        color: @logoColor;
        font-size: 4rem;
        padding-left: 3rem;
        line-height: 8.3rem;
        background-size: 5.6rem;
        background-position-x: 20rem;
        background-position-y: 1.6rem;
    }
}
