.content {
    width: 96rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.main {
    width: 64rem;
    padding-top: 5.4rem;
    font-family: Arial-narrow;
    color: @fontColor;
}

.post {
    padding-bottom: 5.4rem;

    &__image {
        width: 64rem;
        height: 25rem;
    }

    &__content {
        font-weight: 500;
        font-size: 1.6rem;
        text-align: justify;
        padding-top: 1.6rem;
    }

    &__title {
        font-size: 2.6rem;
        height: 4.8rem;
        line-height: 4.8rem;
        font-weight: 500;
    }
}

.post-info {
    height: 4.3rem;
    line-height: 4.3rem;
    border-top: 1px solid @borderLineColor;
    border-bottom: 1px solid @borderLineColor;
    display: flex;
    justify-content: space-between;
}

.post-time, .post-author, .media-button {
    background: url('/src/svg/sprite-media.svg') no-repeat;
    background-size: 3.7rem;
}

.post-time, .post-author {
    font-size: 1.6rem;
    font-weight: 500;
}

.post {
    &-time__text {
        margin-left: 3.2rem;
    }
    &-author__text {
        margin-left: 3.2rem;
    }
    &-time {
        background-position-y: -17rem;
    }
    &-author {
        background-position-y: -20rem;
    }
}

.post-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32rem;
    background-position-x: 0.8rem;
}

.media-button {
    background-color: @mediaBlock;
    background-position-x: -0.6rem;
    color: white;
    font-size: 1.4rem;
    border: none;
    border-radius: 0.4rem;
    height: 2.6rem;
    cursor: pointer;
    outline: 0;

    &__counter {
        margin-left: 2.6rem;
        line-height: 1.6rem;
    }

    &--facebook {
        background-position-y: -0.8rem;
        &:hover {
            background-color: @facebook;
        }
    }
    &--google {
        background-position-y: -3.8rem;
        &:hover {
            background-color: @google;
        }
    }
    &--twitter {
        background-position-y: -7.5rem;
        &:hover {
            background-color: @twitter;
        }
    }
    &--vk {
        background-position-y: -11rem;
        &:hover {
            background-color: @vk;
        }
    }
    &--yandex {
        background-position-y: -14.4rem;
        &:hover {
            background-color: @yandex;
        }
    }
}
