.nav {
    height: 3.75rem;
    background-color: @testColor;
    border-bottom: 0.3rem solid #9dcfff;

    .menu {
        padding-left: 0;
        display: flex;
        justify-content: center;
        list-style-type: none;
        height: 100%;

        &__item {
            display: inline;
            height: inherit;

            a {
                padding: 1.25rem 2.2rem 1.1rem 2.2rem;
                position: relative;
                top: 1em;
                font-size: 1.25em;
                text-decoration: none;
                color: white;
                font-family: Arial;
                font-stretch: condensed;

                &::after {
                    content: '';
                    position: absolute;
                    left: 43%; bottom: -1.25rem;
                    border: 0.6rem solid transparent;
                    border-top: 0.6rem solid @hoverColor;
                    opacity: 0;
                }

                &::before {
                    content: '';
                    position: absolute;
                    left: calc(43% - 0.5rem); bottom: -2.25rem;
                    border: 1.1rem solid transparent;
                    border-top: 1.1rem solid @arrowColor;
                    opacity: 0;
                }

                &:hover {
                    background-color: @hoverColor;

                    &:after {
                        opacity: 1;
                    }

                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
