@font-face {
    font-family: 'Trend-Sans-One';
    src: url(/src/fonts/trend-sans-one-webfont.woff) format('woff');
}

@font-face {
    font-family: 'Arial-narrow';
    src: url(/src/fonts/arial-narrow_[allfont.ru].ttf);
}

@titleFont: Trend-Sans-One, sans-serif;
@regularFont: Arial-narrow, sans-serif;

@testColor: #6B9AD0;
@logoColor: #6795B8;
@hoverColor: #6791c6;
@arrowColor: #9dcfff;
@fontColor: #69747C;
@borderLineColor: #E2E5E8;
@mediaBlock: #D1DAE3;
@mediaHover: #ff6400;
@menuHover: #e1eefc;
@titleBackground: #f4f5f6;
@secondArrowColor: #7ca7d9;

@facebook: #3c5a98;
@google: #c25234;
@twitter: #00aced;
@vk: #48729e;
@yandex: #d83933;

.nav {
    height: 6rem;
    width: 100%;
    background-color: @testColor;
    border-bottom: 6px solid @arrowColor;
    z-index: 1;
}

.menu {
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.tags-hide, .menu-hide {
    display: none;
}

.menu-item {
    position: relative;
    font-size: 2rem;
    height: 5.9rem;

    &::after {
        content: '';
        position: absolute;
        left: 43%;
        bottom: -2rem;
        border: 1rem solid transparent;
        border-top-color: @hoverColor;
        opacity: 0;
    }

    &::before {
        content: '';
        position: absolute;
        left: calc(43% - 0.8rem); bottom: -3.7rem;
        border: 1.8rem solid transparent;
        border-top-color: @arrowColor;
        opacity: 0;
        z-index: -1;
    }

    &:hover {
        background-color: @hoverColor;

        &:after {
            opacity: 1;
        }

        &:before {
            opacity: 1;
        }
    }

    &__link {
        color: white;
        font-family: @regularFont;
        padding: 1.9rem 3.5rem 1.9rem 3.5rem;
        font-stretch: extra-condensed;
        text-decoration: none;
        line-height: 6rem;
    }
}

@media screen and (max-width: 1100px) {
    .nav {
        //position: sticky;
        //top: 0;
    }

    //.menu-item {
    //    position: sticky;
    //    top: 0;
    //}

    .menu-item__link {
        padding: 1.9rem 3rem 1.9rem 3rem;
    }
}

@media screen and (max-width: 370px) {
    .nav {
        height: 3.6rem;
        border: none;
    }

    .menu {
        display: none;
        position: relative;
        background-color: @menuHover;
        top: 3.6rem;
    }

    .menu-item {
        font-size: 1.6rem;
        height: 5rem;
        display: flex;

        &__link {
            width: 100%;
            line-height: 4.8rem;
            text-align: center;
            padding: 0;
            color: @testColor;
            border-bottom: 1px solid white;
            margin: 0 2rem 0 2rem;
        }

        &:hover {
            background-color: @menuHover;

            &:after, &:before {
                opacity: 0;
            }
        }

        &:last-child > * {
            border: none;
        }
    }

    .tags-hide, .menu-hide {
        display: block;
        position: absolute;
        height: 3.4rem;
        width: 3rem;
        background: url('/src/svg/sprite-buttons.svg') no-repeat @secondArrowColor;
        background-size: 20rem;
        border: none;
        outline: none;

        &::before {
            content: '';
            position: absolute;
            left: calc(40% - 0.8rem); bottom: -1.9rem;
            border: 1.1rem solid transparent;
            border-top: 0.8rem solid @testColor;
            z-index: 2;
            opacity: 0;
        }

        &:hover ~ .tags-container {
            display: flex;
        }

        &:hover {
            &:after {
                opacity: 1;
            }

            &:before {
                opacity: 1;
            }
        }
    }

    .tags-hide {
        left: 6.6rem;
        top: 5.6rem;
        background-position-x: -3rem;
        background-position-y: 1rem;

        &::after {
            content: '';
            position: absolute;
            left: 22%;
            bottom: -1.4rem;
            border: 0.8rem solid transparent;
            border-top: 0.6rem solid @secondArrowColor;
            z-index: 4;
            opacity: 0;
        }
    }

    .menu-hide {
        right: 0.9rem;
        top: 5.6rem;
        background-position-x: 0.4rem;
        background-position-y: 1rem;
        background-color: @testColor;

        &:hover ~ .menu {
            display: block;
        }
    }
}