.nav {
    height: 6rem;
    background-color: @testColor;
}
.nav-underline {
    height: 0.5rem;
    background-color: #9dcfff;
}
.menu {
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.menu-item {
    position: relative;
    font-size: 2rem;

    &::after {
        content: '';
        position: absolute;
        left: 43%;
        bottom: -2rem;
        border: 1rem solid transparent;
        border-top: 1rem solid @hoverColor;
        opacity: 0;
    }

    &::before {
        content: '';
        position: absolute;
        left: calc(43% - 0.8rem); bottom: -3.6rem;
        border: 1.8rem solid transparent;
        border-top: 1.8rem solid @arrowColor;
        opacity: 0;
    }

    &:hover {
        background-color: @hoverColor;

        &:after {
            opacity: 1;
        }

        &:before {
            opacity: 1;
        }
    }

    &__link {
        color: white;
        font-family: Arial;
        padding: 1.9rem 3.5rem 1.9rem 3.5rem;
        font-stretch: extra-condensed;
        text-decoration: none;
        line-height: 6rem;
    }
}