@font-face {
    font-family: 'Trend-Sans-One';
    src: url(/src/fonts/trend-sans-one-webfont.woff) format('woff');
}

@font-face {
    font-family: 'Arial-narrow';
    src: url(/src/fonts/arial-narrow_[allfont.ru].ttf);
}

@testColor: #6B9AD0;
@logoColor: #6795B8;
@hoverColor: #6791c6;
@arrowColor: #9dcfff;
@fontColor: #69747C;
@borderLineColor: #E2E5E8;
@mediaBlock: #D1DAE3;
@defaultColor: white;

@facebook: #3c5a98;
@google: #c25234;
@twitter: #00aced;
@vk: #48729e;
@yandex: #d83933;

@import "./header.less";
@import "./nav.less";
@import "main.less";
@import "./info.less";

html {
    font-size: 10px;
}

body {
    margin: 0;
}

//.media-button, .info-header__marker {
//    background: url('/src/svg/sprite-media.svg') no-repeat;
//}
