<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div class="logo">
        <span>RACCO</span>
        <object class="logo__racoon"
                type="image/svg+xml"
                data="./src/svg/racoon-positive.svg">
            <?xml-stylesheet type="text/css" href="dist/style.css"?>
        </object>
        <span>NBLOG</span>
    </div>
</header>
</body>
</html>