<div class="footer" [ngClass]="{'footer--hidden': !listLength}">
  <span class="footer__counter">{{ listLength - numberOfCompleted }} item left</span>
  <div class="filter" (change)="changeFilter($event)">
    <input class="filter__item" id="all" type="radio" name="filter" checked>
    <label for="all">All</label>
    <input class="filter__item" id="active"  type="radio" name="filter">
    <label for="active">Active</label>
    <input class="filter__item" id="completed" type="radio" name="filter">
    <label for="completed">Completed</label>
  </div>
  <button class="footer__clear" [ngClass]="{'footer__clear--hidden' : !numberOfCompleted}" (click)="clearCompleted()">Clear completed</button>
</div>
